@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

.card{
    border-radius: 12px;
    width: 350px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(200, 245, 230);
}
.heading{
    margin: 0%;
}
.para{
    margin-bottom: 15px;
}
.img-res{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.btn{
    border: 2px solid whitesmoke;
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    background-color: black;
    padding: 8px 15px 8px 15px;
    border-radius:50px;
}
.click{
    margin-bottom:10px;
}
.btn:hover{
    background-color: antiquewhite;
    color: black;
    border: 2px solid black;
}